## Tuples
* Collection of different data types seperated by , and enclosed with ()

In [1]:
x=(10,30.86,"hello",)
x

(10, 30.86, 'hello')

In [2]:
type(x)

tuple

In [3]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help (tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [6]:
x.count("hello")

1

In [7]:
x1=(2,80,96,574,"vasavi","fheidhf")
type(x1)

tuple

In [10]:
x1.count(2)

1

In [9]:
x1.index("vasavi")

4

In [12]:
x1*2

(2, 80, 96, 574, 'vasavi', 'fheidhf', 2, 80, 96, 574, 'vasavi', 'fheidhf')

In [13]:
print(x+x1)

(10, 30.86, 'hello', 2, 80, 96, 574, 'vasavi', 'fheidhf')

## Set
* It is a collection of elements seperated by,enclosed{}.it doesn't has index the element are unorderd

In [14]:
se={1,3,56,89}
type(se)

set

In [15]:
se1={1,2,4,1,3,2,}
se1

{1, 2, 3, 4}

In [18]:
s={"apple","grapes","mango"}
print(type(s))
s

<class 'set'>

{'apple', 'grapes', 'mango'}

In [19]:
dir (set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [20]:
help (set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [21]:
se.add(90)

In [22]:
se

{1, 3, 56, 89, 90}

In [23]:
se.clear()

In [24]:
se

set()

In [32]:
set1={3,4,5,6,7,8}

In [33]:
set1

{3, 4, 5, 6, 7, 8}

In [30]:
x={2,4,5,6,8,90,80}
y={5,6,2,9,8}
z=x.difference(y) 
z

{4, 80, 90}

In [37]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

False
False

In [39]:
help (set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [40]:
print(x.union(y))

{2, 4, 5, 6, 8, 9, 80, 90}

In [41]:
print(x.intersection(y))

{8, 2, 5, 6}

In [42]:
help (set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [44]:
print(x.issubset(y))
print(y.issubset(x))

False
False

In [46]:
help (set.issuperset)

Help on method_descriptor:

issuperset(...)
    Report whether this set contains another set.

In [47]:
print(x.issuperset(y))

False

## Accessing elements in set

In [51]:
s_t={2,3,4,5,6}
for i in s_t:
    print(i,end=",")

2,3,4,5,6,

In [52]:
x

{2, 4, 5, 6, 8, 80, 90}

In [56]:
x.update(y)
y

{2, 4, 5, 6, 8, 9, 80, 90}

In [57]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [58]:
help (set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [71]:
x={2,3,4,6,78}
y={4,80,96,83,2,3}
z=x.symmetric_difference(y)
z

{6, 78, 80, 83, 96}

In [63]:
z

{6, 78, 80, 83, 96}

In [64]:
x.pop()
x

{3, 4, 6, 78}

In [65]:
x.pop()
x

{4, 6, 78}

In [72]:
y.remove(80)
y

{2, 3, 4, 83, 96}

In [73]:
y.discard(2)
y

{3, 4, 83, 96}

In [78]:
li=[2,8,7,5,4,3,79]
print(type(li),li)
x=set(li)
print(type(x),x)

<class 'list'> [2, 8, 7, 5, 4, 3, 79]
<class 'set'> {2, 3, 4, 5, 7, 8, 79}

In [87]:
li=list(set(map(int,input().split())))
print(li)

5 6 7 8 8 5
[8, 5, 6, 7]