In [1]:
import numpy as np

In [2]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [3]:
#creating an array
a=np.array([[1,2,3],[8,6,4]])

In [4]:
a

array([[1, 2, 3],
       [8, 6, 4]])

In [5]:
np.shape(a)

(2, 3)

In [6]:
np.size(a)

6

In [7]:
np.ndim(a)

2

In [8]:
a.itemsize

4

In [9]:
a

array([[1, 2, 3],
       [8, 6, 4]])

In [10]:
## Reshape
a.reshape(3,2)

array([[1, 2],
       [3, 8],
       [6, 4]])

In [11]:
a.reshape(6,1)

array([[1],
       [2],
       [3],
       [8],
       [6],
       [4]])

In [12]:
a.reshape(2,3)

array([[1, 2, 3],
       [8, 6, 4]])

In [13]:
a[0]

array([1, 2, 3])

In [14]:
a[:1]

array([[1, 2, 3]])

In [15]:
a[0,1]

2

In [16]:
a[1,1]

6

In [17]:
a

array([[1, 2, 3],
       [8, 6, 4]])

In [18]:
a[:,0]

array([1, 8])

In [19]:
a[:,-1]

array([3, 4])

In [20]:
a[:,0::2]

array([[1, 3],
       [8, 4]])

In [21]:
a[0:,2]

array([3, 4])

In [22]:
a[:,0:2]

array([[1, 2],
       [8, 6]])

In [23]:
b=np.array([[4,5,6],[3,6,7],[6,9,10]])

In [24]:
b

array([[ 4,  5,  6],
       [ 3,  6,  7],
       [ 6,  9, 10]])

In [25]:
#row accesing
b[0]

array([4, 5, 6])

In [26]:
b[0:1]

array([[4, 5, 6]])

In [27]:
b[0:2]

array([[4, 5, 6],
       [3, 6, 7]])

In [28]:
b[0::2]

array([[ 4,  5,  6],
       [ 6,  9, 10]])

In [29]:
b[1]

array([3, 6, 7])

In [30]:
b[0:1]

array([[4, 5, 6]])

In [31]:
b.min()

3

In [32]:
b.max()

10

In [33]:
b.sum()

56

In [34]:
a.min(axis=0)

array([1, 2, 3])

In [35]:
a

array([[1, 2, 3],
       [8, 6, 4]])

In [36]:
a.sum(axis=1)

array([ 6, 18])

In [37]:
np.std(a)

2.3804761428476167

In [38]:
np.sqrt(a)

array([[1.        , 1.41421356, 1.73205081],
       [2.82842712, 2.44948974, 2.        ]])

In [39]:
b

array([[ 4,  5,  6],
       [ 3,  6,  7],
       [ 6,  9, 10]])

In [40]:
c=np.array([[5,8,9],[3,7,8],[5,6,7]])

In [41]:
c

array([[5, 8, 9],
       [3, 7, 8],
       [5, 6, 7]])

In [42]:
np.vstack((b,c))

array([[ 4,  5,  6],
       [ 3,  6,  7],
       [ 6,  9, 10],
       [ 5,  8,  9],
       [ 3,  7,  8],
       [ 5,  6,  7]])

In [43]:
np.hstack((b,c))

array([[ 4,  5,  6,  5,  8,  9],
       [ 3,  6,  7,  3,  7,  8],
       [ 6,  9, 10,  5,  6,  7]])

In [44]:
np.ravel((b,c))

array([ 4,  5,  6,  3,  6,  7,  6,  9, 10,  5,  8,  9,  3,  7,  8,  5,  6,
        7])

In [45]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
for i in np.arange(10):
    print(a)

[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]
[[1 2 3]
 [8 6 4]]

In [47]:
np.cos(a)

array([[ 0.54030231, -0.41614684, -0.9899925 ],
       [-0.14550003,  0.96017029, -0.65364362]])

In [48]:
np.sin(a)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [ 0.98935825, -0.2794155 , -0.7568025 ]])

In [49]:
np.tan(b)

array([[ 1.15782128, -3.38051501, -0.29100619],
       [-0.14254654, -0.29100619,  0.87144798],
       [-0.29100619, -0.45231566,  0.64836083]])

## Pandas

In [3]:
import pandas as pd

In [4]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [5]:
#creating a series data types

In [6]:
z=pd.Series((2,5,7,8,9,1,80))

In [7]:
z

0     2
1     5
2     7
3     8
4     9
5     1
6    80
dtype: int64

In [8]:
z1=pd.Series([2,5,7,8,9,1,80]),index=['a','b','c','d','e','f','g']

SyntaxError: can't assign to function call (<ipython-input-8-9b4f4d7af583>, line 1)

In [9]:
v1=[1,2,3]
v2=[4,5,6]
df=pd.DataFrame({'x':v1,'y':v2})

In [10]:
df

   x  y
0  1  4
1  2  5
2  3  6

In [11]:
df.isnull()

       x      y
0  False  False
1  False  False
2  False  False

## Data frames

In [12]:
1.slicing

2.changing index
3.changing column headers
4.merging
5.operation
6.concatination

SyntaxError: invalid syntax (<ipython-input-12-0ed24bd5b6d5>, line 1)

In [13]:
df1=pd.DataFrame({'x':[20,90,60],'y':[49,78,60]})

In [14]:
df1

    x   y
0  20  49
1  90  78
2  60  60

In [15]:
data=({'x':[20,90,60],'y':[49,78,60]})

In [16]:
data

{'x': [20, 90, 60], 'y': [49, 78, 60]}

In [17]:
df=pd.DataFrame(data,columns=["x1","x2","x3"])

In [18]:
df.isnull()

Empty DataFrame
Columns: [x1, x2, x3]
Index: []

In [19]:
df.values

array([], shape=(0, 3), dtype=object)

In [20]:
df.ndim

2

In [21]:
df1

    x   y
0  20  49
1  90  78
2  60  60

In [22]:
df1.head(1)

    x   y
0  20  49

In [23]:
df1.tail(1)

    x   y
2  60  60

In [24]:
## Merging

In [25]:
data=[[2,3,4,88],[8,79,69,66],[73,39,89,55]]
df=pd.DataFrame(data,columns=["x1","x2","x3","x4"])

In [26]:
df

   x1  x2  x3  x4
0   2   3   4  88
1   8  79  69  66
2  73  39  89  55

In [27]:
df1=pd.DataFrame({'x1':[20,90,60],'x2':[49,78,60],'x3':[2,4,5],'x4':[5,6,7]})

#

In [28]:
df1

   x1  x2  x3  x4
0  20  49   2   5
1  90  78   4   6
2  60  60   5   7

In [29]:
m=pd.merge(df,df1) # in merge same columns

In [30]:
print(m)

Empty DataFrame
Columns: [x1, x2, x3, x4]
Index: []

In [31]:
df

   x1  x2  x3  x4
0   2   3   4  88
1   8  79  69  66
2  73  39  89  55

In [32]:
data=[[2,3,4,88],[8,79,69,66],[73,39,89,55]]
df=pd.DataFrame(data,columns=["x","y","a","b"])

In [33]:
df

    x   y   a   b
0   2   3   4  88
1   8  79  69  66
2  73  39  89  55

In [34]:
j=df.join(df1)#in join different columns

In [35]:
j

    x   y   a   b  x1  x2  x3  x4
0   2   3   4  88  20  49   2   5
1   8  79  69  66  90  78   4   6
2  73  39  89  55  60  60   5   7

In [40]:
f2=pd.DataFrame({'name':[5,6,7],'gender':[3,4,5]})
f2

   name  gender
0     5       3
1     6       4
2     7       5

In [41]:
f3=pd.DataFrame({'name':[4,7,8],'gender':[9,8,7]})
f3

   name  gender
0     4       9
1     7       8
2     8       7

In [43]:
f5=pd.concat([f2,f3])

In [50]:
f5

   name  gender
0     5       3
1     6       4
2     7       5
0     4       9
1     7       8
2     8       7

In [51]:
f5.isnull()

    name  gender
0  False   False
1  False   False
2  False   False
0  False   False
1  False   False
2  False   False

In [56]:
#index changing
f5=pd.DataFrame({1:[1,2,3],2:[3,5,6],'i':['x','y','z']})
f5.set_index('i')

   1  2
i
x  1  3
y  2  5
z  3  6

In [58]:
f5=({1:'a',2:'b'})

In [65]:
dd=pd.read_csv("abcd.csv")

FileNotFoundError: [Errno 2] File b'abcd.csv' does not exist: b'abcd.csv'