In [3]:
import pandas as pd
p=pd.Period(2007,freq='A-MAY')
p

Period('2007', 'A-MAY')

In [4]:
p+2

Period('2009', 'A-MAY')

In [5]:
p-2

Period('2005', 'A-MAY')

In [11]:
p=pd.Period(2017,freq='A-MAY')-2
p

Period('2015', 'A-MAY')

In [18]:
pd.Period(2019,freq='A-MAY')-p

In [19]:
rng=pd.period_range('2001-01-01','2000-06-30',freq='D')
print(rng)

PeriodIndex([], dtype='period[D]', freq='D')

In [30]:
index=pd.date_range('1/1/2000',periods=4,freq='T')
series=pd.Series([0.0,None,2.0,3.0],index=index)
df=pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [31]:
df.asfreq(freq='30s')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [32]:
df.asfreq(freq='30s',fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [33]:
p

Period('2015', 'A-MAY')

In [34]:
p.asfreq('d',how='start')

Period('2014-06-01', 'D')

In [38]:
p.asfreq('D',how='end')

Period('2015-05-31', 'D')

In [40]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [44]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [45]:
df.asfreq('T',how='end')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [47]:
rng=pd.date_range('2006','2009',freq='A-DEC')
rng

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [48]:
import numpy as np

In [50]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2006-12-31    0.741423
2007-12-31   -0.430049
2008-12-31    0.392260
Freq: A-DEC, dtype: float64

In [52]:
print(ts.asfreq('M',how='start'))

2006-12-31    0.741423
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31   -0.430049
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    0.392260
Freq: M, dtype: float64

In [53]:
print(ts.asfreq('M',how='end'))

2006-12-31    0.741423
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31   -0.430049
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    0.392260
Freq: M, dtype: float64

In [62]:
p=pd.Period('2012q3',freq='M')
p

Period('2012-07', 'M')

In [66]:
p=pd.Period('2012Q4',freq='M')
p

Period('2012-10', 'M')

In [68]:
rng=pd.period_range('2011q3','2012q4',freq='Q-JAN')
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [69]:
ts=pd.Series(np.arange(len(rng)),index=rng)

In [70]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [71]:
import pandas as pd

In [74]:
rng=pd.date_range('2000-01-01',periods=3,freq='M')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [75]:
ts=pd.Series(np.random.randn(3),index=rng)
ts

2000-01-31    0.973036
2000-02-29   -0.079156
2000-03-31   -0.625009
Freq: M, dtype: float64

In [79]:
pts=ts.to_period()
pts

2000-01    0.973036
2000-02   -0.079156
2000-03   -0.625009
Freq: M, dtype: float64

In [80]:
rng=pd.date_range('1/29/2000',periods=6,freq='D')
ts2=pd.Series(np.random.randn(6),index=rng)
ts2

2000-01-29   -0.842306
2000-01-30   -0.168002
2000-01-31   -0.549206
2000-02-01   -0.565896
2000-02-02   -0.204453
2000-02-03    0.047993
Freq: D, dtype: float64

In [81]:
ts2.to_period()

2000-01-29   -0.842306
2000-01-30   -0.168002
2000-01-31   -0.549206
2000-02-01   -0.565896
2000-02-02   -0.204453
2000-02-03    0.047993
Freq: D, dtype: float64

In [82]:
ts2.to_period('M')

2000-01   -0.842306
2000-01   -0.168002
2000-01   -0.549206
2000-02   -0.565896
2000-02   -0.204453
2000-02    0.047993
Freq: M, dtype: float64

In [83]:
pts=ts2.to_period()

In [84]:
pts

2000-01-29   -0.842306
2000-01-30   -0.168002
2000-01-31   -0.549206
2000-02-01   -0.565896
2000-02-02   -0.204453
2000-02-03    0.047993
Freq: D, dtype: float64

In [86]:
pts.to_timestamp(how='start')

2000-01-29   -0.842306
2000-01-30   -0.168002
2000-01-31   -0.549206
2000-02-01   -0.565896
2000-02-02   -0.204453
2000-02-03    0.047993
Freq: D, dtype: float64

In [87]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999   -0.842306
2000-01-30 23:59:59.999999999   -0.168002
2000-01-31 23:59:59.999999999   -0.549206
2000-02-01 23:59:59.999999999   -0.565896
2000-02-02 23:59:59.999999999   -0.204453
2000-02-03 23:59:59.999999999    0.047993
Freq: D, dtype: float64

In [89]:
index=pd.date_range('1/1/2000',periods=9,freq='T')
series=pd.Series(range(9),index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [90]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [91]:
series.resample('3T',label='right',closed='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [94]:
series.resample('30s').asfreq()[0:5]

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
Freq: 30S, dtype: float64